<!--canviar la opacitat amb el  rbga, 0 es sens opasitat 0.9 molt opac-->
<section id="Inicio" class="relative min-h-screen flex items-center justify-center overflow-hidden bg-page"
  style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('assets/images/fondoHero2.jpg'); background-size: cover; background-position: center;">
  <div class="absolute inset-0 bg-header/50 z-0"></div>

 <div class="relative z-10 w-full px-6 mt-20">
  <div class="max-w-7xl mx-auto">
    <div class="max-w-3xl mx-auto"> <!-- Añadido mx-auto aquí para centrar el contenedor -->
      <img src="assets/images/titol1.png" alt="Titol" class="w-full max-w-3xl h-auto p-2">
      
      <!-- Fecha centrada -->
      <div class="text-center"> <!-- Contenedor para centrar -->
        <p class="text-xl md:text-2xl text-secondary mb-4 font-medium">
          {{ getFormattedDate() }}
        </p>
      </div>

      <!--<p class="text-lg text-muted mb-8 max-w-2xl">
        {{ 'HERO.DESCRIPTION' | translate }}
      </p> FORA -->
      <div class="flex flex-col sm:flex-row gap-4 justify-center"> <!-- Añadido justify-center -->
        <!--Boto informacio-->
        <button (click)="scrollTo('Informacion')" *ngIf="configGlobal.tickets.habilitar || authService.isAdmin()"
          class="btn-brand px-8 py-4 rounded-lg font-bold text-lg glow-effect whitespace-nowrap transform hover:scale-105">
          {{ 'HERO.MORE_INFO_BUTTON' | translate }}
        </button>
        <!--Boto Lineup-->
        <button (click)="scrollTo('Lineup')" *ngIf="configGlobal.tickets.habilitar || authService.isAdmin()"
          class="btn-outline-brand px-8 py-4 rounded-lg font-bold text-lg whitespace-nowrap transform hover:scale-105">
          {{ 'HERO.LINEUP_BUTTON' | translate }}
        </button>
        <!-- 🍽️Boto dinar
        <button (click)="navigateToComidaSolidaria()" *ngIf="configGlobal.tickets.habilitar || authService.isAdmin()"
          class="btn-brand px-8 py-4 rounded-lg font-bold text-lg glow-effect whitespace-nowrap transform hover:scale-105">
          {{'HERO.MENJAR_SOLIDARI' | translate}}
        </button>-->
        <button (click)="navigateToComidaSolidaria()"
          class="btn-brand px-8 py-4 rounded-lg font-bold text-lg glow-effect whitespace-nowrap transform hover:scale-105">
          {{'HERO.MENJAR_SOLIDARI' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
</section>