<section id="noticias" class="py-20 bg-page">
  <div class="max-w-7xl mx-auto px-6">
    <div class="text-center mb-16">
      <h2 class="text-5xl font-black mb-6 metal-text text-brand">NOTICIAS</h2>
      <p class="text-xl text-muted max-w-3xl mx-auto">
        Mantente al día con las últimas novedades del {{configGlobal.festival.nombreCompleto}}{{configGlobal.festival.anyo}}
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-12">
      <!-- Noticia dinámica -->
      <article *ngFor="let noticia of noticias"
        class="bg-card border border-brand rounded-lg overflow-hidden hover:transform hover:scale-105 card-hover transition-all duration-300">
        <div class="w-full h-48 bg-card overflow-hidden">
          <img [src]="noticia.imagen" [alt]="noticia.alt" class="w-full h-full object-cover object-top">
        </div>
        <div class="p-6">
          <div class="flex items-center text-sm text-secondary mb-3">
            <i class="ri-calendar-line mr-2"></i>
            <span>{{ noticia.fecha }}</span>
          </div>
          <h3 class="text-xl font-bold text-primary mb-3 hover-text-brand transition-colors cursor-pointer">
            {{ noticia.titulo }}
          </h3>
          <p class="text-muted text-sm mb-4">
            {{ noticia.resumenNoticia }}
          </p>

          @if (noticia.detalleNoticia) {
          <a [routerLink]="['/noticia', noticia.id]"
            class="text-brand hover-text-brand font-medium text-sm flex items-center">
            Leer más <i class="ri-arrow-right-line ml-1"></i>
          </a>
          }
        </div>
      </article>
    </div>

  </div>
</section>