<nav
  class="fixed top-0 left-0 right-0 z-50 px-6 py-4 bg-gradient-to-r from-black via-gray-900 to-black opacity-90 border-b border-red-600/30">





  <div class="flex items-center justify-between max-w-7xl mx-auto">

    <!-- Logo -->
    <div class="flex items-center space-x-3 z-50">
      <div class="w-12 h-12 flex items-center justify-center bg-red-600 rounded-lg">


        <div class="w-12 h-12 flex items-center justify-center bg-red-600 rounded-lg">
          <img src="assets/icons/mask-roig.png" alt="Máscara de gas" class="w-6 h-6 filter brightness-0 invert">
        </div>


      </div>
      <h1 class="text-2xl font-bold metal-text text-red-500">Mollerussa Metal Fest</h1>
    </div>

    <!-- Menú Desktop -->
    <div class="hidden md:flex space-x-8">
      <a (click)="scrollTo('Inicio')"
        class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Inicio</a>
      <a (click)="scrollTo('noticias')"
        class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Noticias</a>
      <a (click)="scrollTo('Lineup')"
        class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Lineup</a>
      <!--<a (click)="scrollTo('Tienda')" class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Tienda</a>-->
      <a (click)="scrollTo('Informacion')"
        class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Información</a>
      <!--<a (click)="scrollTo('Mapa-recinto')"
        class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Mapa del Recinto</a>-->
      <a (click)="scrollTo('Ubicacion')"
        class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Ubicación</a>
      <!--<a (click)="scrollTo('Galeria')"
        class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Galeria</a>-->
      <a (click)="scrollTo('contacto')"
        class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">Contacto</a>
        <a [routerLink]="['/detalle-galeria']" class="cursor-pointer text-gray-300 hover:text-red-500 transition-colors font-medium">
        Galeria
      </a>
    </div>

    <!-- Botón Hamburguesa -->
    <button class="md:hidden w-8 h-8 flex items-center justify-center text-white z-50" (click)="toggleMenu()">
      <i class="ri-menu-line text-xl" *ngIf="!isMenuOpen"></i>
      <i class="ri-close-line text-xl" *ngIf="isMenuOpen"></i>
    </button>
  </div>

  <!-- Menú Móvil -->
  <div class="md:hidden fixed top-0 left-0 w-full h-full bg-gray-900 z-40 mt-16" *ngIf="isMenuOpen">
    <div class="flex flex-col space-y-6 p-8 pt-20">
      <a (click)="scrollTo('Inicio'); toggleMenu();"
        class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Inicio</a>
      <a (click)="scrollTo('noticias'); toggleMenu();"
        class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Noticias</a>
      <a (click)="scrollTo('Lineup'); toggleMenu();"
        class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Lineup</a>
      <!--<a (click)="scrollTo('tienda'); toggleMenu();" class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Tienda</a>-->
      <a (click)="scrollTo('Informacion'); toggleMenu();"
        class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Información</a>
      <!--<a (click)="scrollTo('Mapa-recinto'); toggleMenu();"
        class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Mapa
        del Recinto</a>-->
      <a (click)="scrollTo('Ubicacion'); toggleMenu();"
        class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Ubicación</a>
      <!--<a (click)="scrollTo('Galeria'); toggleMenu();"
        class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Galeria</a>-->
      <a (click)="scrollTo('contacto'); toggleMenu();"
        class="cursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">Contacto</a>
      <a (click)=" toggleMenu();" [routerLink]="['/detalle-galeria']" class="ursor-pointer text-white hover:text-red-500 transition-colors font-medium py-3 text-lg border-b border-gray-700">
        Galeria
      </a>
    </div>
  </div>
</nav>